rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. قاعدة عامة للبحث في أي مجموعة اسمها "students" (يجب أن يكون مسجلاً للدخول)
    match /{path=**}/students/{studentId} {
      allow read, write: if request.auth != null;
    }

    // 2. القواعد التفصيلية للمدرسين والجروبات
    match /teachers/{teacherId} {
      allow read, write: if request.auth != null; // مؤقتاً لحل مشكلة تطابق الـ UID مع رقم الهاتف
      
      match /groups/{groupId} {
        allow read, write: if request.auth != null;
        
        match /{allSubcollections=**} {
          allow read, write: if request.auth != null;
        }
      }
    }

    // 3. باقي القواعد (يجب أن يكون مسجلاً للدخول)
    match /parents/{phoneNumber} { allow read, write: if request.auth != null; }
    match /users/{userId} { allow read, write: if request.auth != null && request.auth.uid == userId; }
  }
}