rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && 'email' in request.auth.token && request.auth.token.email == 'admin@elnazer-edu.com';
    }

    function isTeacherOwner(teacherId) {
      return request.auth != null && (
        ('email' in request.auth.token && 
         ('+' + request.auth.token.email.split('@')[0]) == teacherId) ||
        ('phone_number' in request.auth.token && 
         request.auth.token.phone_number == teacherId)
      );
    }
    
    function isCenterOwner(centerId) {
      return request.auth != null && (
        ('email' in request.auth.token && 
         ('+' + request.auth.token.email.split('@')[0]) == centerId) ||
        ('phone_number' in request.auth.token && 
         request.auth.token.phone_number == centerId)
      );
    }
    
    function isParent() {
      return request.auth != null && 'email' in request.auth.token && request.auth.token.email.matches('.*@learnaria[.]app');
    }

    match /teachers/{teacherId} {
      allow read: if isTeacherOwner(teacherId) || isParent() || isAdmin() || (resource != null && 'centerId' in resource.data && isCenterOwner(resource.data.centerId));
      allow write: if isTeacherOwner(teacherId) || isAdmin();
      
      match /{allSubcollections=**} {
        allow read: if isTeacherOwner(teacherId) || isParent() || isAdmin() || 
          (exists(/databases/$(database)/documents/teachers/$(teacherId)) &&
           'centerId' in get(/databases/$(database)/documents/teachers/$(teacherId)).data && 
           isCenterOwner(get(/databases/$(database)/documents/teachers/$(teacherId)).data.centerId));
        allow write: if isTeacherOwner(teacherId) || isAdmin();
      }
    }

    match /parents/{phoneNumber} { 
      allow read, write: if request.auth != null; 
    }
    match /users/{userId} { 
      allow read, write: if request.auth != null; 
    }
    
    match /{path=**}/students/{studentId} {
      allow read, write: if request.auth != null;
    }
    
    match /cards/{cardId} {
      allow read, write: if request.auth != null;
    }

    match /centers/{centerId} {
      allow read, write: if request.auth != null;
    }
  }
}